*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.title {
    background-color: orange;
}

.productsform-wrapper {
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: transparent;
}

.productsform {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    border-radius: 8px;
    background-color: black;
}