*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    height: 55px;
    background-color: #FF6900;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: white;
}

.header .left {
    display: flex;
    flex-direction: line;
}

.header .left .micea{
    font-weight: bold;
    font-size: 30px;
}

.header .left .imports{
    padding-top: 8px;
    display: flex;
    font-weight: normal;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
}

.header .center a{
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding: 10px;
}
.header .right a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding: 6px 16px; 
    border: white solid 1px;
    border-radius: 20px;
    line-height: 1; 
    transition: 0.2s;
}

.header .right a:hover{
    background-color: white;
    color: #FF6900;
    transition: 0.2s;
}

