* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    height: 80px; 
    background-color: #FF6900;
    display: flex;
    align-items: center;
    justify-content: space-between;
  padding: 10px 5%; 
    box-sizing: border-box; 
    color: white;
}

.header .left {
    display: flex;          
    flex-direction: row;    
    align-items: baseline;  
    gap: 2px;               
}

.header .left .micea {
    font-weight: 900;      
    font-size: 35px;
}

.header .left .imports {
    font-weight: 300;      
    font-size: 21px;
}

.header .center {
    display: flex;
    gap: 20px; 
}

.header .center a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.2s;
}

.header .center a:hover {
    opacity: 0.8;
}

.header .right a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 5px 25px; 
    border: 2px solid white; 
    border-radius: 50px; 
    transition: all 0.3s ease;
}

.header .right a:hover {
    background-color: white;
    color: #FF6900;
}
